body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #bdb9b9;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

button {
  padding: 10px 20px;
  border-radius: 17px;
  outline: none;
  border: solid 1px #3333333f;
  color: white;
  font-size: 16px;
  background-color: rgb(153, 14, 86);
  transition: all .3s ease-in;
  cursor: pointer;
}

button:hover {
  background-color: rgb(84, 7, 47);
  color: #f3f3f3;
}

canvas {
  display: none;
}

#controls {
  display: none;
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

#instructions {
  display: none;
  position: fixed;
  top: 4px;
  left: 10px;
  width: 30%;
  color: rgb(153, 14, 86);
}
